.App {
    font-family: sans-serif;
    text-align: center;
    height: 50vh;
    width: 50vw;
    border: 1px solid black;
  }
  
  body {
    padding: 0;
    margin: 0;
  }

.center {
  margin: auto;
  text-align: center;
}

.card-info {
  margin-left: 0.5%;
  margin-top: 0.5%;
}

.table-info {
  margin-left: 0.5%;
  margin-top: 0.5%;
  margin-right: 0.5%;
}

.section {
  overflow-y: auto;
  height: 40vh;
  scroll-snap-type: y mandatory;
  scrollbar-color: black, green;
  margin-top: 7px;
  padding: 0;
}