.Card {
    display: inline-block;
    margin: 20px;
    border-color: black;
}

.Img {
    height: 280px;
    width: 340px;
}

.textCenter {
    text-align: center;
}

.button {
    margin-right: 10px;
}